/*!!!
section: Buttons
title: Primary Button
jade: |
  a.button(href="#") Primary Button
*/

.button
  background: red
  padding: 5px
  border-radius: 5px
  color: white
  display: inline-block
  text-decoration: none
