breakpoint = 1000px

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600')

body
  background: white
  font-family: 'Open Sans', sans-serif
  max-width: 1000px !important
  transform: none !important
  transition: none !important
  margin: 15px auto !important
  padding: 15px !important
  padding-left: 175px !important
  @media (max-width: breakpoint)
    padding: 15px !important

iframe
  width: 100%
  min-height: 500px

.guidedog
  background: #E1E1E1
  padding: 30px 10px
  text-align: center

section.sg
  margin-bottom: 35px
  padding: 20px
  background: #FAFAFA
  z-index: -2
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)

span.sg
  margin-top: 0
  margin-bottom: 10px
  display: block
  code
    background: #E1E1E1
    padding: 2px 5px
    border-radius: 3px
    font-family: monospace
    font-weight: normal
  a
    text-decoration: underline
    &:hover
      opacity: 0.8

pre.sg code
  overflow-x: auto

/* ---- headings ---- */
h2.sg
  background: #e1e1e1
  margin: -20px -35px
  margin-bottom: 20px
  padding: 10px 35px
  font-size: 20px
  position: relative
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.8)
  color: #222
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.85)
  &:before, &:after
    content: ''
    display: block
    width: 0
    height: 0
    border-top: 24px solid #b7b7b7
    border-bottom: 24px solid #b7b7b7
    border-right: 25px solid #b7b7b7
    border-left: 10px solid transparent
    position: absolute
    top: 10px
    left: -18px
    z-index: -1
  &:after
    left: auto
    right: -18px
    border-left: 25px solid #b7b7b7
    border-right: 10px solid transparent
  @media (max-width: breakpoint)
    margin: -15px
    margin-bottom: 15px
    padding-left: 15px 
    padding-right: 15px
    &:before, &:after
      display: none

h3.sg
  margin-top: 20px
  border-bottom: 1px solid grey
  margin-bottom: 10px
  padding-bottom: 3px
  font-size: 18px

/* ---- nav ---- */
nav.sg
  position: fixed
  top: 0
  left: 0
  bottom: 0
  background: #FAFAFA
  min-width: 175px
  overflow-y: auto
  a
    display: block
    text-transform: lowercase
    text-decoration: none
    padding: 3px 0
    text-transform: capitalize
    padding: 10px 20px
    border-bottom: 1px solid #E1E1E1
    border-left: 0px solid black
    transition: all 0.2s ease-in-out
    color: black
    &:hover, &.active
      border-left: 5px solid grey
      background-color: #f2f2f2
  @media (max-width: breakpoint)
    display: none

img.sg
  display: block
  margin: 15px
  max-width: 150px

.sg-swatch
  display: inline-block
  margin-bottom: 10px
  margin-right: 10px
  position: relative
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)

.sg-swatch-info
  position: absolute
  background: rgba(255, 255, 255, 0.8)
  bottom: 0
  left: 0
  width: 100%
  padding: 5px
  font-size: 12px

.sg-swatch-name
  font-weight: bold

.sg-swatch-sample
  width: 220px
  height: 160px 

.sg-swatch-value
  display: block

.sg-tabs
  margin-top: 15px

.sg-tabs-trigger
  list-style-type: none
  margin: 0
  padding: 0
  position: relative
  z-index: 2
  margin-bottom: -1px
  text-align: right
  padding-right: 25px
  li
    display: inline-block
    padding: 8px 25px
    background: #E1E1E1
    border-radius: 3px 3px 0 0
    border: 1px solid #808080
    cursor: pointer
    font-size: 12px
    color: grey
    &.sg-tabs-active
      color: black
      background: white
      border-bottom-color: white
      cursor: default
      font-weight: bold

.sg-tabs-content
  list-style-type: none
  margin: 0
  padding: 0
  position: relative
  z-index: 1
  li
    display: none
    &.sg-tabs-active
      display: block
      background: white
      border-radius: 0 3px 3px 3px
      border: 1px solid #808080
      overflow: hidden
  pre
    margin: 0 !important
